.modal {
  display: none;
  position: fixed;
  z-index: 100;
  inset: 0; /* растягивает блок на всю ширину */
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  overflow: auto;
  padding: 6px;
}
.modal__main {
  position: relative;
  margin: auto;
  max-width: 790px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  cursor: default;
  overflow: hidden;
}
.modal__container {
  display: flex;
}
.modal__container::after {
  content: '';
  flex: 0 0 350px; /* grow, shrink, basis */
  background-image: url(./../img/modal-bg-desktop.jpg);
  background-size: cover;
}
.modal__content {
  padding: 30px;
}
.modal__title.section-title {
  margin-bottom: 24px;
  font-size: 34px;
}
.modal__subtitle {
  margin: 0 0 32px;
  line-height: 1.5;
  text-transform: uppercase;
}
.modal__fieldset {
  margin: 0 0 12px;
  padding: 0;
  border: none;
  display: flex;
  gap: 10px;
}
.modal__wrapper-input {
  position: relative;
  padding-bottom: 20px;
  flex-basis: 50%;
}
.modal__text {
  margin-bottom: 2px;
  font-size: 12px;
  color: #898989;
}
.modal__input {
  width: 100%;
  padding: 15px 25px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 12px;
  appearance: none;
  -moz-appearance: textfield;
  outline: none;
  transition: 0.3s;
}
.modal__input::-webkit-outer-spin-button,
.modal__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #FFC700;
}
.modal__input-error {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__close:hover {
  color: #fff;
}

@media (max-width: 920px) {
  .modal__main {
    max-width: 632px;
  }
  .modal__container::after {
    flex: 0 0 192px;
    background-image: url(./../img/modal-bg-tablet.jpg);
  }
  .modal__content {
    padding: 24px;
  }
  .modal__title.section-title {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .modal__subtitle {
    max-width: 300px;
    margin-bottom: 24px;
    font-size: 14px;
  }
  .modal__input {
    padding: 6px 16px;
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .modal__main {
    max-width: 308px;
  }
  .modal__container {
    flex-direction: column;
  }
  .modal__container::after {
    flex: 0 0 214px;
    background-image: url(./../img/modal-bg-mobile.jpg);
  }
  .modal__content {
    padding: 40px 20px 20px;
  }
  .modal__fieldset {
    gap: 0;
    flex-direction: column;
  }
  .modal__close:hover {
    color: #FFC700;
  }
}